body {
    background-image: url("...\...\...\wwwroot\clock-life-timepiece-time-wallpaper-preview.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
