@inherits LayoutComponentBase

<PageTitle>DemoTimer</PageTitle>

<div class="page" style="height:max-content">
    @*<div class="sidebar" >
        <NavMenu />
    </div>*@

    <main class="ferganskiy" style="height:max-content">

            @Body
        <article class="">
        </article>
    </main>
</div>
