@inherits LayoutComponentBase

<PageTitle>DemoTimer</PageTitle>

<div class="page">
    @*<div class="sidebar" >
        <NavMenu />
    </div>*@

    <main class="ferganskiy">

            @Body
        <article class="">
        </article>
    </main>
</div>
