@page "/countdown"
<div style="margin-left:10%;margin-top:10%">
   @* <input  class="inputValue"  placeholder="vaqtni kiriting" type="number" />
    <h3 style="height:200px; width:1200px; font-size:50px">Countdown Timer</h3>*@
    
    <p style="font-size:300px; margin-left:5%">@formattedTime</p>
    
    <button @onclick="StartTimer">Start Timer</button>
    

</div>


@code {
    private int totalTimeInSeconds = 43660;
    private string formattedTime = "0:00";
    private bool isRunning = false;
    private string inputValue = string.Empty;



    private async Task StartTimer()
    {

        
        if (!isRunning)
        {
            isRunning = true;
            await Task.Run(async () =>
            {
                while (totalTimeInSeconds > 0)
                {
                    // Update the formatted time
                    formattedTime = FormatTime(totalTimeInSeconds);

                    // Trigger a UI update
                    InvokeAsync(StateHasChanged);

                    // Decrement the total time
                    totalTimeInSeconds--;

                    // Wait for 1 second
                    await Task.Delay(1000);
                }

                isRunning = false;
            });
        }
    }

    private string FormatTime(int seconds)
    {
        int hours = seconds / 3600;
        int minutes = (seconds%3600) / 60;
        int remainingSeconds = seconds % 60;
        return $"{hours}:{minutes}:{remainingSeconds:D2}";
    }
}
