@page "/"

<PageTitle >Index</PageTitle>


<h1 style="color: red">Assalomu alekum </h1>

<a  href="https://localhost:7230/countdown">
    <button style=" InputNumber<int> = 0">Next Window</button>
  </a>

@*<input type="text" id="fname" name="fname" value="John">
<button @onclick="UseInputValue">Use Input Value</button>

<div class="output">Value will appear here</div>*@

@*@code {
    private string inputValue = "John";

    private void UseInputValue()
    {
        // Use the input value
        var outputElement = document.querySelector(".output");
        outputElement.textContent = "Input Value: " + inputValue;
    }
}*@